<!DOCTYPE html>
<html>
  <head>
    <title>Automatizacion Jardines App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <center>
    <img src="/static/images/jardin-image1.jpg" ALT="sprinklerImage"/>
  </center>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Automatizacion de Jardines - web app</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">Configuration</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>